// --------------------------------------------------------------
// Theme Colours
// --------------------------------------------------------------

// Standard Colours
$medium-blue: #597FBA;
$light-blue: #B2C9D3;
$sanger-blue: #2D3A87;
$dark-blue: #232642;

// Secondary Colours
$dark-yellow: #FBC02D;
$dark-orange: #FD8230;
$dark-pink: #E91E63;
$dark-red: #9C2222;

$turqoise: #25D7FD;
$iris-blue: #00ACC1;
$pacific-blue: #039BE5;
$sec-dark-blue: #01579B;

$light-pink: #EC407A;
$light-purple: #EA80FC;
$mid-purple: #9C27B0;
$dark-purple: #4A148C;
$light-yellow: #D4E157;
$light-green: #8BC34C;
$mid-green: #4DB6AC;
$dark-green: #1B5E20;

// Misc Colours
$dark-grey: #333;
$medium-grey: #999;
$light-grey: #ddd;
$black: #000;
$white: #fff;
$red: #456ff3;

// Page defaults
$color-links: $sanger-blue;
$color-hover: #111;
$color-body: #222;
$color-headings: #222;
$color-social: $dark-grey;
$color-navbar: #000;



/* About colours (Default colours)
06466f
0865a0
0a84d1
*/
$aboutus-dark: #06466f;
$aboutus-normal: #0865a0;
$aboutus-light: #0a84d1;

/* Innovations colours
00514b
00847b
00b7ab
*/
$innovations-dark: #00514b;
$innovations-normal: #00847b;
$innovations-light: #00b7ab;

/* News colours
5e216e
7f2d95
a039bc
*/
$news-dark: #5e216e;
$news-normal: #7f2d95;
$news-light: #a039bc;

/* People colours
953d03
c75104
f96505
*/

/* Science colours are
1c5e7d
267da6
309cd0
*/

// Font Colors
$base-font-color: $dark-grey;
$action-color: $medium-blue;
