// --------------------------------------------------------------
// Theme options
//
// Variables
// --------------------------------------------------------------

// Site page Sizes
$max-site-width: 1460px;


// Typography
// Font settings
// You can use these font stacks normally with `font-family: $font-base;` for instance.`
// Please set up fonts in sass/base/_fonts.scss then configure in sass/base/bourbon/bourbon/library/_font-stacks.scss
$font-base: $font-stack-roboto;
$font-headings: $font-base;
$font-monospace: $font-stack-monospace;

$font-sanger-fontello: ('sanger-custom', sans-serif);

// Font settings
$font-min-size: 16px; // Minimum font size, on mobile
$font-max-size: 24px; // Maximum font size, on desktop
//$font-base-line-height: 1.78; // Line height for paragraphs


// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 1rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 1rem; // Default vertical padding for containers

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
$duration-navPanel: 200ms;
