
@font-face {
  font-family: "sanger-custom";
  src: url("../fonts/sanger/sanger-custom.eot");
  src: url("../fonts/sanger/sanger-custom.eot#iefix") format("embedded-opentype"),
       url("../fonts/sanger/sanger-custom.woff") format("woff"),
       url("../fonts/sanger/sanger-custom.ttf") format("truetype"),
       url("../fonts/sanger/sanger-custom.svg#sanger-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}


// Using Google Roboto font 400 - Normal, 600 - Semi-bold, 700 - Bold.
// Added this to font-stacks in bourbon lib directory $font-stack-roboto: ('Roboto', sans-serif);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');
