// --------------------------------------------------------------
// Theme options
//
// Grid settings for different media points
// --------------------------------------------------------------

$grid-max-size: 1600px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 960px;

$container-mobile: 480px;
$container-tablet: 770px;
$container-tablet-landscape: 1024px;
$container-desktop: 1200px;

// Grid settings
$mobile-grid: (
  columns: 12,
  gutter: 4px,
  media: $container-mobile,
);

$tablet-grid: (
  columns: 12,
  gutter: 8px,
  media: $container-tablet,
);

$tablet-landscape-grid: (
  columns: 12,
  gutter: 8px,
  media: $container-tablet-landscape,
);

$desktop-grid: (
  columns: 12,
  gutter: 10px,
  media: $container-desktop,
);
