// -----------------------------------------------------------
// Typography
//
// Everything around fonts, font size definitions and typeset
// presets.
// -----------------------------------------------------------

// Set root size for rems
//root {
//  font-size: 62.5%;
//}

// Font Sizes
$base-font-size: 1rem;
$base-font-size-mobile: 0.95em;
$font-base-line-height: 1.78; // Line height for paragraphs
$font-base-line-height-elements: 1.68; // Line height for other elements like table cells and spans

$headings-weight: 700; // Default title weight. Usually 700 or 900 works pretty well
$headings-line-height: 1.2em;

$type-of-scale: $major-third;

// Start typography settings
body {
  font-size: $base-font-size;
  font-family: $font-base;
  line-height: $font-base-line-height;
  color: $color-body;

  // Font smoothing options
  @include font-smoothing(on);
}

// Preset for small fonts
%small {
  @include font-size(14px);
  //@include responsive-font(1.2vw, 14px, 17px);
}

%extrasmall {
  @include font-size(12px);
  //@include responsive-font(1.2vw, 12px, 14px);
}

// Defaults
p,
dd,
dt,
figcaption,
hr,
small,
ol,
ul,
li,
blockquote,
kbd,
pre,
samp,
code,
th,
td,
table,
tr,
%default {
  @include font-size(16px);
  //@include responsive-font(3vw, $font-min-size, $font-max-size, $font-max-size);
  letter-spacing: -.003em;
  line-height: $font-base-line-height-elements;
}

p {
  //font-size: modular-scale(0, $base-font-size, $type-of-scale);
  margin-top: 2.9rem;
  margin-bottom: 2.9rem;
  line-height: $font-base-line-height;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* Current Sanger Headings
main h1 { font-size: 2.875em; line-height: 1.2em }
main h2 { font-size: 2.5em;   line-height: 1.2em }
main h3 { font-size: 2.2em;   line-height: 1.2em }
main h4 { font-size: 1.875em; line-height: 1.2em }
main h5 { font-size: 1.5em;   line-height: 1.2em }
main h6 { font-size: 1.25em;  line-height: 1.2em }
*/

$headings: 1,2,3,4,5,6;

// Heading defaults
@each $header in $headings {
  h#{$header} {
    color: $color-headings;
    font-family: $font-headings;
    font-weight: $headings-weight;
    line-height: $headings-line-height;
    margin: 2rem 0 ;
  }
}

// Define heading scales
// Current: Perfect fourth: https://type-scale.com/
h1,
%h1 {
  font-size: modular-scale(5, $base-font-size, $type-of-scale);
}

h2,
%h2 {
  font-size: modular-scale(4, $base-font-size, $type-of-scale);
}

h3,
%h3 {
  font-size: modular-scale(3, $base-font-size, $type-of-scale);
}

h4,
%h4 {
  font-size: modular-scale(2, $base-font-size, $type-of-scale);
}

h5,
%h5 {
  font-size: modular-scale(1, $base-font-size, $type-of-scale);
}

h6,
%h6 {
  font-size: modular-scale(0, $base-font-size, $type-of-scale);
}

// Lists
ul {
  list-style: disc outside;
  padding-left: 1.375rem;

  li {
    padding-left: .35rem;
  }
}

ol {
  padding-left: 1.75rem;
}

ol,
ul {
  padding-bottom: 1rem;
}

// Bold.
b,
strong {
  font-weight: 700;
}

// Italic.
em,
i {
  font-style: italic;
}

// Inline small text.
small {
  line-height: 1;
  font-size: .875em;
}

// images
img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

// Figures and captions
figure {
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  > img {
    width: 100%;
  }
}

// Figcaption.
figcaption {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
}

// Quotes.
blockquote {
  clear: both;
  border: 0 none;
  position: relative;
  margin-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;

  p {
    @include font-size(16px);
    font-style: italic;
    margin-bottom: 0;
    position: relative;
    overflow: visible;
    color: $base-font-color;
  }

  @media (min-width: $container-tablet) {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }

  &:before {
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 147px;

    @media (min-width: $container-mobile) {
      width: 30%;
    }
  }
}

cite {
  display: block;
  font-style: italic;
}

// Horizontal rule.
hr {
  background-image: linear-gradient(to bottom, rgba(#000, 0) 50%, #000 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 50%;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  height: 0;
}

kbd,
pre,
samp {
  font-family: $font-monospace;
}

// Code block.
code {
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: $font-monospace;
  line-height: 1;
  padding: .375rem .5rem;
  border-radius: .3rem;
  font-size: inherit; // normalize.css sets this as 1em by default

  pre & {
    display: inline-block;
    padding: 1.15rem 1rem .85rem;
  }
}

// Preformatted text.
pre {
  border-radius: .3rem;
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 2rem;
}
