// --------------------------------------------------------
// Comments
//
// WordPress built-in comments with comment_form().
// Custom comment template can be found in inc/comments.php
// --------------------------------------------------------

.comments-area {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: visible;
}

.comment-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    @extend %small;
    padding: 0;
    margin-top: 0;
    margin-bottom: 70px;

    p {
      @extend %small;
      color: $dark-grey;
    }

    .avatar {
      float: right;
      border-radius: 50%;
    }

    .comment-author {
      @extend %h4;
      color: $color-body;
      margin-top: 0;
      margin-bottom: 10px;
      padding: 0;

      a {
        color: $color-body;
      }
    }

    .comment-time {
      @extend %small;
      padding: 0;
      margin: 0;

      svg {
        fill: $dark-grey;
        position: relative;
        top: 2px;
        margin-right: 5px;
      }

      a {
        color: $dark-grey;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
