// -----------------------------------------------------------
// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.
// -----------------------------------------------------------

// Site wrapper
.site {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;

  .site-content {
    max-width: $max-site-width;
    margin: auto;

    .content-area {

      .site-main {

        section.block {
          @include background-cover();
          background-color: #fff;
          position: relative;
          min-height: 100px;
          max-width: $grid-max-size;
          margin: 0 auto;

          .l-container {
            margin: 0 auto;
            max-width: $grid-max-size;
            padding-top: $container-default-pad-y;
            padding-bottom: $container-default-pad-y;
            padding-left: $container-default-pad-x;
            padding-right: $container-default-pad-x;
          }
        }
      }
    }
  }

}

// Containers
.l-container {
  margin: 0 auto;
  max-width: $grid-max-size;
  padding-top: $container-default-pad-y;
  padding-bottom: $container-default-pad-y;
  padding-left: $container-default-pad-x;
  padding-right: $container-default-pad-x;
}

// Clear block containers by default
.site-main .l-container {
  overflow: hidden;
  clear: both;
}


// Default structural element
.block {
  @include background-cover();
  background-color: #fff;
  position: relative;
  min-height: 100px;
  max-width: $grid-max-size;
  margin: 0 auto;
}

.block.block-page {
  @media (min-width: $container-mobile) {
    min-height: 310px;
  }
}

// Default shade on top of blocks
.shade {
  background: #333;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .15;
}

// Meta actions
.entry-footer {
  overflow: hidden;
  clear: both;
  display: block;
}

// Edit
.edit-link {
  text-align: left;
  width: 100%;
  display: block;
  clear: both;
  max-width: 100%;
  min-width: 0;
  margin-bottom: 0;
  margin-top: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  overflow: hidden;

  a {
    clear: both;
    display: block;
    margin-top: 40px;
    padding: 0;
  }
}

// Global link helper
// This is useful in services -type of areas where the whole block is a link
// Remember to define aria-label or screen-reader-text for accessibility
a.global-link {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}
