/*
  Header
  Created on : 13-Jun-2019, 15:26:04
  Author     : mw8
*/

header {
  position: relative;
  overflow: hidden;
  //padding-top: 1em;
  height: auto;
  background-color: $white;
  //background-image: url(../gfx/triangles-header.png);
  //background-repeat: no-repeat;
  border: 1px solid $light-grey;

  .header-link-wrapper {
    color: $color-social;
    float: right;
  }

  h1 {
    float: left;
    //width: 180px;
    margin: 0;
    padding: 20px 0 0 100px;

    img {
      height: 75px;
      //width:166px
    }
  }


}
