html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

%defaultdiv {
    position: relative;
    display: block;
    clear: both;
}
