/*
  Search
  Created on : 17-Jun-2019
  Author     : mw8
*/

.l-search-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
    .l-search-form__label {
      margin: 5px 10px 5px 0;
    }

    .l-search-form__field {
      vertical-align: middle;
      margin: 5px 10px 5px 0;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
    }

    .l-search-form__button {
      padding: 10px 20px;
      background-color: dodgerblue;
      border: 1px solid #ddd;
      color: white;
      cursor: pointer;
    }
}


#search {
  display: block;
  height: 4.2em;
  padding-right: 0;
  overflow:hidden;
  padding-top: 1em;

  p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5em;

    .text {
      @include font-size(18px);
      height: 2.1em;
      width: 70%;
      border: 0;
      background-color: white;
      float: left;
      padding: 0.75em 1em;
      border-radius: 0;
    }

    .submit {
      display: none
    }

    span {
      //@include font-size(20px);
      width: 14%;
      border: 0;
      background-color: $sanger-blue;
      color: $white;
      text-align: center;
      display: block;
      float: left;
      padding: 0.1875em 0;
      height: 2.1em;
      @include font-size(18px);

      &:hover {
        background-color: $aboutus-light;
      }
    }
  }
}

/* Now the extra links (search/menu?) */
.extra-links {
  float: right;
  display: block;
  height: 5.5em;

  a, span {
    display: block;
    height: 3em;
    font-size: 2em;
    color: white;
    float: left;
    padding: 0.75em 0.2em;
    cursor: pointer;
    font-family: $font-sanger-fontello;
  }
}

/* These are magnifying glass & Hamburger */
header .search:before {
  content: 'S'
}
.ham:before {
  content: 'H'
}

.l-login:before {
  content: '$'
}

.l-logout:before {
  content: 'o'
}

span.ham {
  display: none
}
