// -----------------------------------------------------------
// Site header
//
// The very top of the site, element that usually includes
// the site navigation and search for example.
// -----------------------------------------------------------

.site-header {
  position: relative;
  z-index: 15;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: $container-default-pad-x;
  padding-right: $container-default-pad-x;
  max-width: $grid-max-size;
  margin-left: auto;
  margin-right: auto;

  // Easier flex way to align logo and navigation
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  margin: 0;
  font-weight: 700;

  a {
    color: #111;
  }
}
