// ------------------------------------------------------------
//
// Site footer
//
// ------------------------------------------------------------

.site-footer {
  padding: 20px;
  background: $white;
  color: $dark-grey;
  overflow: hidden;
  clear: both;
  @include font-size(12px);

  border: 1px solid $light-grey;

  $headings: 1,2,3,4,5,6;

  @each $header in $headings {
    h#{$header} {
      margin: 0 0 1.3rem 0;
      text-transform: uppercase;
    }
  }

  svg {
    fill: #555;
    top: 2px;
    position: relative;
  }

  p, span {
    margin: 0 0 2rem 0;
    @include font-size(13px);
    line-height: 1.5;
  }

  ul {
    li {
      margin: 1rem 0;
      padding: 0;
      @include font-size(13px);
    }
  }

  a {
    color: $dark-grey;

    &:hover {
      color: $color-links;
    }
  }

  .c-footer-wrapper {
    padding: 0;

    &-icon {
      @extend .c-footer-wrapper;
      margin: 0 0 0.5rem 0;

      img.c-footer-icon {
        width: 120px;
      }
    }

    &-image {
      @extend .c-footer-wrapper;
      margin: 0.5rem 0 0.5rem 0;
    }
  }
}

.theme-info {
  overflow: hidden;

  @media (min-width: $container-tablet) {
    width: 60%;
    text-align: right;
    float: right;
  }
}
