/*
  Animation
  Created on : 13-Jun-2019, 15:26:04
  Author     : mw8
*/

.ajaxwait:before { content:'O'; padding: 5px; font-family: 'sanger-custom';
     -moz-animation: spin 1.5s linear infinite;
  -webkit-animation: spin 1.5s linear infinite;
       -o-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-moz-keyframes spin { from{   -moz-transform:rotate(0deg)} to{   -moz-transform:rotate(359deg)} }
@-webkit-keyframes spin { from{-webkit-transform:rotate(0deg)} to{-webkit-transform:rotate(359deg)} }
@-o-keyframes spin { from{     -o-transform:rotate(0deg)} to{     -o-transform:rotate(359deg)} }
@keyframes spin { from{        transform:rotate(0deg)} to{        transform:rotate(359deg)} }
