/*
  Boxes
  Created on : 7-Jul-2019, 12:24:08
  Author     : mw8
*/

%box-default {
  width:100%;
  background: inherit;
  margin: 10px auto;
  padding: 1.5em;
  overflow: hidden;

  @include grid-media($tablet-grid) {
      padding: 1em;
  }

  @include grid-media($desktop-grid) {
      padding: 2em;
  }
}


// Fits to size of grid
.box {
  @extend %box-default
}

.box-white {
    @extend %box-default;
    background: $white;
    margin: 0;
    padding: 1em;
    border: none;
    color: $black;
    border-bottom: 2px solid $medium-grey;

    &:last-child {
        border-bottom: none;
    }
}
