/*
  *
  * Demo file for mixins
  *
  * Created on : 10-June-2019
  * Author     : mw8
  *
  *
*/

@include fontFace('karla-regular', '../fonts/karla-regular', 400, normal);

.background-cover {
  @include background-cover();
}

.background-auto {
  @include background-auto();
}

.hidetext {
  @include hiddentext();
}

.clear {
  @include clearfix();
}

.vertical-align {
  @include vertical-align();
}

.horizontal-align {
  @include horizontal-align();
}

.centered {
  @include centered();
}

.responsive-font {
  @include responsive-font(5vw, 35px, 150px, 50px);
}

p.demo {
  @include font-size(16px)
}

p.smooth {
  @include font-smoothing(on);
}

.transition {
    @include transition(padding, 1s, ease-in-out);
}

.radius {
    @include radius(20px);
}

.shadow {
    @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.15), true);
}
