// Flex container
// Split into 12 columns so 5 goes with 7, 4 with 8 etc

$column-width:8.33%;

.flex-container, .u-flex {
  @include flexbox();
  @include flex-flow(row wrap);
  //border: 1px dashed #666;

  > div { //Standard 50%
      padding: 0;
      flex: 0 1 100%;

      @include grid-media($tablet-landscape-grid) {
          flex: 0 1 50%;
      }
  }

  > div.fc-1c {
    flex: 0 1 100%;

    @include grid-media($tablet-grid) {
        flex: 0 1 #{$column-width * 6};
    }

    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width};
    }
  }

  > div.fc-2c {
    flex: 0 1 100%;

    @include grid-media($tablet-grid) {
        flex: 0 1 #{$column-width * 6};
    }

    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 2};
    }
  }

  > div.fc-3c {
    flex: 0 1 100%;

    @include grid-media($tablet-grid) {
        flex: 0 1 #{$column-width * 6};
    }

    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 3};
    }
  }

  > div.fc-4c {
    flex: 0 1 100%;

    @include grid-media($tablet-grid) {
        flex: 0 1 #{$column-width * 6};
    }

    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 4};
    }
  }

  > div.fc-5c {
    flex: 0 1 100%;

    @include grid-media($tablet-grid) {
        flex: 0 1 #{$column-width * 6};
    }

    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 5};
    }
  }

  > div.fc-6c {
    flex: 0 1 100%;



    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 6};
    }
  }

  > div.fc-7c {
    flex: 0 1 100%;
    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 7};
    }
  }

  > div.fc-8c {
    flex: 0 1 100%;
    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 8};
    }
  }

  > div.fc-9c {
    flex: 0 1 100%;
    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 9};
    }
  }

  > div.fc-10c {
    flex: 0 1 100%;
    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 10};
    }
  }

  > div.fc-11c {
    flex: 0 1 100%;
    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 11};
    }
  }

  > div.fc-12c {
    flex: 0 1 100%;
    @include grid-media($tablet-landscape-grid) {
        flex: 0 1 #{$column-width * 12};
    }
  }
}
