/*
    Grid Items
    Created on : 10-Jun-2019
    Author     : mw8
*/

// Grid is split into 12 columns wide, so you can mix and match them
@mixin grid-item-columns($columns) {
    width: (100% / 12) * $columns;
}

.grid-wrapper {
    $base-background-color: $white !default;
    $grid-items-background: $white;
    $grid-item-background: $white;
    $grid-item-border-size: 6px;
    $grid-item-column: 1;
    $grid-item-2-columns: 2;
    $grid-item-3-columns: 3;
    $grid-item-4-columns: 4;
    $grid-item-5-columns: 5;
    $grid-item-6-columns: 6;
    $grid-item-7-columns: 7;
    $grid-item-8-columns: 8;
    $grid-item-9-columns: 9;
    $grid-item-10-columns: 10;
    $grid-item-max-columns: 12;
    $grid-item-color: $black;
    $grid-item-height: 14em;

    @extend %defaultdiv;
    //@include grid-visual;
    overflow: hidden;

    %grid-item {
        margin-bottom: $grid-item-border-size ;
        //border-left: ($grid-item-border-size / 2);
        //border-right: ($grid-item-border-size / 2);
        border-top: 0;
        float: left;
        outline: none;
        overflow: hidden;
        padding: 0;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        width: 100%;
        align-items: stretch;
    }

    .grid-item {
        @extend %grid-item;
        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-column);
        }
    }

    .grid-item-2 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-2-columns);
        }
    }

    .grid-item-3 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-3-columns);
        }
    }

    .grid-item-4 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-4-columns);
        }
    }

    .grid-item-5 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-5-columns);
        }
    }

    .grid-item-6 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-6-columns);
        }
    }

    .grid-item-7 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-7-columns);
        }
    }

    .grid-item-8 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($mobile-grid) {
            @include grid-item-columns($grid-item-4-columns);
        }

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-8-columns);
        }
    }

    .grid-item-9 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-9-columns);
        }
    }

    .grid-item-10 {
        @extend %grid-item;
        @include grid-item-columns($grid-item-max-columns);

        @include grid-media($tablet-grid) {
            @include grid-item-columns($grid-item-10-columns);
        }
    }
}
