@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot?67602149');
    src: url('../fonts/fontello/fontello.eot?67602149#iefix') format('embedded-opentype'),
        url('../fonts/fontello/fontello.woff2?67602149') format('woff2'),
        url('../fonts/fontello/fontello.woff?67602149') format('woff'),
        url('../fonts/fontello/fontello.ttf?67602149') format('truetype'),
        url('../fonts/fontello/fontello.svg?67602149#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('font/fontello.svg?67602149#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-big:before { content: '\e800'; } /* '' */
.icon-left-big:before { content: '\e801'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-truck:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-left:before { content: '\e807'; } /* '' */
.icon-right:before { content: '\e808'; } /* '' */
.icon-up:before { content: '\e809'; } /* '' */
.icon-down-bold:before { content: '\e80a'; } /* '' */
.icon-left-bold:before { content: '\e80b'; } /* '' */
.icon-right-bold:before { content: '\e80c'; } /* '' */
.icon-up-bold:before { content: '\e80d'; } /* '' */
.icon-down-fat:before { content: '\e80e'; } /* '' */
.icon-left-fat:before { content: '\e80f'; } /* '' */
.icon-right-fat:before { content: '\e810'; } /* '' */
.icon-up-fat:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\e813'; } /* '' */
.icon-android:before { content: '\e814'; } /* '' */
.icon-pinterest:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-windows:before { content: '\e817'; } /* '' */
.icon-gplus:before { content: '\e818'; } /* '' */
.icon-html5:before { content: '\e819'; } /* '' */
.icon-w3c:before { content: '\e81a'; } /* '' */
.icon-appstore:before { content: '\e81b'; } /* '' */
.icon-call:before { content: '\e81c'; } /* '' */
.icon-github:before { content: '\e81d'; } /* '' */
.icon-down-1:before { content: '\e81e'; } /* '' */
.icon-left-1:before { content: '\e81f'; } /* '' */
.icon-right-1:before { content: '\e820'; } /* '' */
.icon-up-1:before { content: '\e821'; } /* '' */
.icon-search:before { content: '\e822'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-wrench:before { content: '\e824'; } /* '' */
.icon-google:before { content: '\e825'; } /* '' */
.icon-youtube:before { content: '\e826'; } /* '' */
.icon-rss:before { content: '\e827'; } /* '' */
.icon-dropbox:before { content: '\e828'; } /* '' */
.icon-wikipedia:before { content: '\e829'; } /* '' */
.icon-pinboard:before { content: '\e82a'; } /* '' */
.icon-calendar:before { content: '\e82b'; } /* '' */
.icon-print:before { content: '\e82c'; } /* '' */
.icon-export:before { content: '\e82d'; } /* '' */
.icon-forward:before { content: '\e82e'; } /* '' */
.icon-download:before { content: '\e82f'; } /* '' */
.icon-upload:before { content: '\e830'; } /* '' */
.icon-lock:before { content: '\e831'; } /* '' */
.icon-lock-open:before { content: '\e832'; } /* '' */
.icon-attach:before { content: '\e833'; } /* '' */
.icon-cancel:before { content: '\e834'; } /* '' */
.icon-cancel-circled:before { content: '\e835'; } /* '' */
.icon-cancel-circled2:before { content: '\e836'; } /* '' */
.icon-plus:before { content: '\e837'; } /* '' */
.icon-plus-circled:before { content: '\e838'; } /* '' */
.icon-ok:before { content: '\e839'; } /* '' */
.icon-ok-circled:before { content: '\e83a'; } /* '' */
.icon-ok-circled2:before { content: '\e83b'; } /* '' */
.icon-star:before { content: '\e83c'; } /* '' */
.icon-star-empty:before { content: '\e83d'; } /* '' */
.icon-progress-0:before { content: '\e83e'; } /* '' */
.icon-progress-1:before { content: '\e83f'; } /* '' */
.icon-progress-2:before { content: '\e840'; } /* '' */
.icon-progress-3:before { content: '\e841'; } /* '' */
.icon-progress-4:before { content: '\e842'; } /* '' */
.icon-progress-5:before { content: '\e843'; } /* '' */
.icon-progress-6:before { content: '\e844'; } /* '' */
.icon-progress-7:before { content: '\e845'; } /* '' */
.icon-user:before { content: '\e846'; } /* '' */
.icon-reddit:before { content: '\e847'; } /* '' */
.icon-blogger:before { content: '\e848'; } /* '' */
.icon-cc:before { content: '\e849'; } /* '' */
.icon-weibo:before { content: '\e84a'; } /* '' */
.icon-flickr:before { content: '\e84b'; } /* '' */
.icon-github-circled:before { content: '\e84c'; } /* '' */
.icon-cloudapp:before { content: '\e84d'; } /* '' */
.icon-digg:before { content: '\e84e'; } /* '' */
.icon-spotify:before { content: '\e84f'; } /* '' */
.icon-paypal:before { content: '\e850'; } /* '' */
.icon-delicious:before { content: '\e851'; } /* '' */
.icon-stumbleupon:before { content: '\e852'; } /* '' */
.icon-podcast:before { content: '\e853'; } /* '' */
.icon-myspace:before { content: '\e854'; } /* '' */
.icon-quora:before { content: '\e855'; } /* '' */
.icon-wordpress:before { content: '\e856'; } /* '' */
.icon-tumblr:before { content: '\e857'; } /* '' */
.icon-soundcloud:before { content: '\e858'; } /* '' */
.icon-login:before { content: '\e859'; } /* '' */
.icon-buffer:before { content: '\e85a'; } /* '' */
.icon-drupal:before { content: '\e85b'; } /* '' */
.icon-acrobat:before { content: '\e85c'; } /* '' */
.icon-instagram:before { content: '\e85d'; } /* '' */
.icon-eventbrite:before { content: '\e85e'; } /* '' */
.icon-female:before { content: '\e85f'; } /* '' */
.icon-male:before { content: '\e860'; } /* '' */
.icon-at-1:before { content: '\e861'; } /* '' */
.icon-ie:before { content: '\e862'; } /* '' */
.icon-ok-1:before { content: '\e863'; } /* '' */
.icon-cancel-1:before { content: '\e864'; } /* '' */
.icon-rss-alt:before { content: '\e865'; } /* '' */
.icon-rss-1:before { content: '\e866'; } /* '' */
.icon-star-1:before { content: '\e867'; } /* '' */
.icon-reply-1:before { content: '\e868'; } /* '' */
.icon-reply-all-1:before { content: '\e869'; } /* '' */
.icon-attach-1:before { content: '\e86a'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-link-ext:before { content: '\f08e'; font-size: 80%; opacity: 0.6; margin-left: 0.5em;}
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
