/*
* Links
*
* Author: Mark Wilson
*
* Date: 13th March 2019
*/

// Default Link
%std-link {
  color: $color-links;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
  padding: 0 2px;

  &:hover {
    color: shade($color-links, 50%);
  }

  &:focus {
    outline: 0; //$focus-outline;
  }
}

// Links
a {
  @extend %std-link;
}

a.white {
  @extend %std-link;
  color: $white;
  &:hover {
    color: darken($white, 25%);
  }
}

a.social {
  //@debug $color-social;
  color: $color-social;
  text-decoration: none;
  background: none;

  &:hover {
    //color: shade($color-links, 10%);
    //@debug adjust-color($color-social, $lightness: -30%, $alpha: -0.4);
    color: adjust-color($color-social, $lightness: -40%, $alpha: -0.4);
  }

  &:focus {
    outline: 0;
  }
}

.nav-menu > li.active {
  a {
    background: none;

    @include grid-media($tablet-grid) {
      background-size: 13px 13px;
      padding: 20px 10px 2px 12px;
    }
  }
}
