/*
  *
  * Position
  *
  * Created on : 10-June-2019
  * Author     : mw8
  *
  *
*/

// Float elements right
.c-right {
  float: right;
  text-align: right;
  margin-right: 2rem;
}
// Float elements left
.c-left  {
  float: left;
  margin-left: 2rem;
}

// Align div centrally.
.c-center {
  margin: 0 auto;
  text-align: left;
  width: 90%;
  &-narrow {
    @extend .c-center;
    width: 50%;
  }
}
