/*
  Seperators
  Created on : 17-Jun-2019
  Author     : mw8
*/

.c-divider-bottom {
  border-bottom: 1px solid $light-grey;
}

.c-divider-side-left {
  border-left: 1px solid $light-grey;
}

.c-divider-side-right {
  border-right: 1px solid $light-grey;
}
