// ---------------------------------------------------------
// Site navigation core
//
// The main layout for the website navigation, for both mobile
// and desktop devices.
// -----------------------------------------------------------
$enable-animations: false;

nav { overflow:hidden; padding-top: 1em }

.nav-primary .menu-items {
  position: relative;
  z-index: 9999;

  ul,
  li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
    -webkit-tap-highlight-color: rgba(#000, 0);
  }

  li,
  a {
    position: relative;
  }

  .disabled {
    cursor: not-allowed;
  }

  li > h1,
  li > h2,
  li > h3,
  li > h4,
  li > h5,
  li > h6 {
    margin: 0;
    padding: 0;
  }
}

// Hide by default if no animations enabled
@if $enable-animations == false {
  @media only screen and (min-width: $responsivenav) {
    .nav-primary .menu-items ul {
      display: none;
    }
  }
}

// Disable animations on IE10 + IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media only screen and (min-width: $responsivenav) {
    .nav-primary .menu-items ul {
      display: none;
    }
  }
}

@media only screen and (max-width: $responsivenav) {
  .js .nav-primary .menu-items ul {
    display: none;
  }
}

.nav-primary ul ul {
  margin-top: 0;
  margin-left: 25px;

  ul {
    margin-left: 25px;
  }
}

@if $enable-animations == false {
  @media only screen and (min-width: $responsivenav) {
    .js .nav-primary ul .sub-menu.toggled-on {
      display: block;
    }
  }
}

// Disable animations on IE10 + IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media only screen and (min-width: $responsivenav) {
    .js .nav-primary ul .sub-menu.toggled-on {
      display: block;
    }
  }
}

@media only screen and (max-width: $responsivenav) {
  .js .nav-primary ul .sub-menu.toggled-on {
    display: block;
  }
}

.dropdown-toggle:after,
.dropdown-toggle.toggled-on:after,
.nav-toggle:before,
.nav-toggle.toggled-on:before {
  speak: none;
}

.dropdown-toggle:after,
.dropdown-toggle.toggled-on:after {
  font-size: 1.3rem;
}

.no-js .nav-toggle {
  display: none;
}
