// ---------------------------------------------------------
// Site navigation core
//
// The main layout for the website navigation, for both mobile
// and desktop devices.
// -----------------------------------------------------------

.nav-wrapper {
    display: none;
}

@include grid-media($desktop-grid){
    .nav-wrapper {

        display: block;
        //@include grid-column(12);
        clear: both;
        background-color: $white;
        margin-top: 14px; //52px; when no search form

        nav, div.menu-primary-container {

            clear: both;
            content: "";

            position: relative;
            background: $white;
            text-align: center;

            a {
                text-decoration: none;
                color: $dark-grey;
                display: block;
                @include font-size(11px);

            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    list-style-type: none;
                    //margin-bottom: 5px solid black;
                    margin-left: 0.1em;
                    @include transition(all, 0.2s);

                    a, .nav-title{
                        line-height: 35px;
                        padding: 0 0.3em;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 400;

                        @include grid-media($desktop-grid){
                            @include font-size(13px);
                            letter-spacing: 0.01em;
                            padding: 0 0.625em;
                        }

                        &.active {
                            border-bottom: 3px solid $black;
                        }
                    }

                    .caret {
                        border-top: 4px solid #aaa;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        margin-left: 3px;
                        content: "";
                        display: inline-block;
                        height: 0;
                        width: 0;
                        vertical-align: middle;

                        @include transition(color, 0.1s, linear);
                    }

                    &:hover {
                        background-color: $white;

                        .caret {
                            border-top-color: rgb( 0, 0, 0 );
                        }

                        ul.sub-menu {
                            display: block;
                            opacity: 1;
                            visibility: visible;
                            border: 1px solid $light-grey;
                        }
                    }

                    ul.sub-menu {
                        background-color: $white;
                        border: 1px solid $light-grey;
                        //border-radius: 0 0 4px 4px;
                        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
                        display: none;
                        text-align: left;
                        margin: 0 0 0 0;
                        opacity: 0;
                        position: absolute;
                        width: 220px;
                        visibility: hidden;
                        z-index: 100;
                        //top: 38px;

                        @include transition(opacity, 0.2s, ease-in-out);

                        li {
                            display: block;

                            a {
                                color: $red;
                                padding: 6px 14px;
                                text-decoration: none;
                                text-transform: capitalize;
                                line-height: 1.3em;
                            }

                            &:hover {

                                a {
                                    color: $black;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    @include grid-media($desktop-grid){
                        margin-left: 0.5em;
                    }
                }
            }
        }
    }
}

/* Mobile Navigation */
#navPanel {
    display: block;
    backface-visibility: hidden;
    transform: translateX(300px);
    transition: transform $duration-navPanel ease;
    display: block;
    height: 100%;
    right: 0;
    overflow-y: auto;
    position: fixed;
    top: 100px;
    width: 300px;
    z-index: 999;
    background: $white;

    ul {
        list-style-type: none;
        list-style-image: none;
    }

    .link, .nolink {
        display: block;
        border-top: solid 1px rgba(255, 255, 255, 0.1);
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        height: 55px;
        line-height: 55px;
        padding: 0 15px 0 15px;
        text-decoration: none;
        margin-left: 1em;
        margin-right: 1em;
        color: $black;
        font-family: $font-base;
        font-weight: bolder;
        @include font-size(12px);
        text-transform: uppercase;

        &:first-child {
            //border-top: 0;
        }

        &:last-child {
            //border-bottom: 0;
        }

        &:active,&:focus,&:hover {
            color: lighten($black, 45%);
            background-color: $light-grey;
        }
    }

    .link:after {
        font-family: 'ga4gh';
        content: "\e808";
        font-size: 100%;
        float: right;
    }

    #mob-navlist {
        margin: 0;

    }

    .depth-0 {
        &:active,&:focus,&:hover {
            color: lighten($black, 45%);
            background-color: $light-grey;

            &:after {
                font-family: 'ga4gh';
                content: "\e806";
                font-size: 100%;
                float: right;
            }
        }
    }

    .depth-1 {
        color: $red;
        text-transform: none;
        margin-left: 2em;
    }

}

body {
    &.navPanel-visible {
        #navPanel {
            transform: translateX(0);
        }
    }
}
